In [1]:
import tensorflow as tf
import pandas as pd
import numpy as np
from tensorflow import keras
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
dataset_path = keras.utils.get_file("GOOG.csv", "http://localhost:8000/data/daily/GOOG.csv")

column_names = ['Date','Open','High','Low','Close','Adj Close','Volume'] 
raw_dataset = pd.read_csv(dataset_path, 
#                           names=column_names, 
                          dtype={'Close': np.float64,'Open': np.float64,'High': np.float64,'Adj Close': np.float64, 'Volume': np.float64},
                          header=0,
                          na_values = "?", 
                          comment='\t',
                          sep=",",
                          skipinitialspace=True)


dataset = raw_dataset.copy()
dataset = dataset.sort_values(by=['Date'],ascending=False)
test_dataset = dataset[0:700]
train_dataset = dataset[700:]

In [3]:
print len(dataset)
print len(train_dataset)
print len(test_dataset)
train_dataset.head(5)

3534
2834
700

,Date,Open,High,Low,Close,Adj Close,Volume
2833,2015-11-18,727.580017,741.409973,727.000000,740.000000,740.000000,1684300.0
2832,2015-11-17,729.289978,731.844971,723.026978,725.299988,725.299988,1510900.0
2831,2015-11-16,715.599976,729.489990,711.330017,728.960022,728.960022,1905900.0
2830,2015-11-13,729.169983,731.150024,716.729980,717.000000,717.000000,2075500.0
2829,2015-11-12,731.000000,737.799988,728.645020,731.229980,731.229980,1837200.0

In [4]:
train_stats = train_dataset.describe()
train_stats.pop("Close")
train_stats = train_stats.transpose()
train_stats

,count,mean,std,min,25%,50%,75%,max
Open,2834.0,3.081928e+02,1.464132e+02,49.274517,2.116087e+02,2.717326e+02,3.774848e+02,7.324600e+02
High,2834.0,3.111213e+02,1.472027e+02,50.541279,2.136504e+02,2.747133e+02,3.803971e+02,7.414100e+02
Low,2834.0,3.049268e+02,1.453642e+02,47.669952,2.090156e+02,2.685956e+02,3.754058e+02,7.302300e+02
Adj Close,2834.0,3.080442e+02,1.463329e+02,49.681866,2.116199e+02,2.715414e+02,3.780859e+02,7.400000e+02
Volume,2834.0,9.110012e+06,8.626936e+06,7900.000000,3.862450e+06,6.274700e+06,1.188605e+07,8.276810e+07

In [20]:
# Create features (only close price for now)
def convert_to_percentage(old, new):
    return (old - new) / old

def convert_to_train(raw_dataset):
    dataset = raw_dataset.copy()
    features = []
    labels = []
    for i in range(5, len(dataset) - 50):

        feature_dataset = dataset[i:i+50].copy()
        latest_close = feature_dataset['Close'].iloc[0]
        features.append(
            feature_dataset['Close'].map(lambda current: convert_to_percentage(latest_close, current))
        )
    return expanded
converted_feature_set = convert_to_train(dataset)

#dset = test_dataset.sort_values(by=['Date'],ascending=False)[0:10]
# for each date, calculate the percentage change of each value from the current close
#dset['Close']

In [22]:
converted_feature_set[5]

[0.0,
 -0.006539643979971975,
 -0.029515359675715117,
 -0.023638836821182355,
 -0.02579382776312965,
 -0.03531731415359686,
 -0.032424632880708786,
 -0.02961481760822562,
 -0.01515141455918743,
 -0.014272783978920527,
 -0.01629523175737247,
 -0.011206077225721476,
 -0.008926737966553648,
 -0.010982270975990444,
 -0.026531517265219885,
 -0.051256095377964966,
 -0.04741851277191286,
 -0.034471869924092784,
 0.0008205538447940495,
 0.0178865603352416,
 0.016187477029958625,
 0.008794092854429775,
 0.006373812517085276,
 0.018756894120605164,
 0.01464582727288103,
 0.019071861507943356,
 0.043589226960764095,
 0.044467856712180454,
 0.043464878643543564,
 0.054969329666796546,
 0.06814807473040045,
 0.08586890555138388,
 0.06550409009195345,
 0.07529276392918934,
 0.07647806427304055,
 0.08496548736388601,
 0.07296374584922997,
 0.06770046305978894,
 0.04227967941947033,
 0.04047274026699553,
 0.03037739583732479,
 0.031852672892876736,
 0.027376960665873418,
 0.04494855361377682,
 0.04506460513609401,
 0.0594285502526217,
 0.05567393393790193,
 0.06340707393685048,
 0.0709661876266375,
 0.06848793250244868]

##